.product-card {
  position: relative;
}

.product-card .product-label {
  position: absolute;
  top: 16px;
  left: 16px;
  display: inline-block;
  color: var(--color-white);
  padding: 2px 8px;
  background-color: var(--color-price);
  border-radius: 4px;
  font-size: var(--fs-super-small);
}

.product-card span,.product-card h4 {
  display: block;
  font-size: var(--fs-large);
  line-height: 26px;
}

.product-card .name {
  margin: 16px 0px;
  color: var(--color-black);
}

.product-card .price {
  color: var(--color-price);
}
