.login.header {
  margin-top: 40px;
  text-align: center;
}

.login .input-group {
  width: 330px;
  margin-bottom: 0px;
}

.form-login-heading {
  margin-bottom: 20px;
}

.login.main {
  text-align: center;
  margin: 30px auto;
  padding: 40px 0px;
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 4px;
  background-color: var(--color-tertiary);
}

.form-login-heading {
  margin-inline: auto;
  font-size: var(--fs-exLarge);
  font-weight: var(--fw-bold);
}

.error-message {
  color: var(--color-secondary);
  text-align: left;
  padding-left: 140px;
}

.btn-login {
  margin: 20px auto;
  padding: 10px;
  min-width: 200px;
}

.form-login .form-message {
  font-size: var(--fs-small);
  width: 100%;
  color: var(--color-primary);
  margin-top: 20px;
}

.open-sign-up-page {
  text-decoration: none;
  color: initial;
  font-weight: var(--fw-bold);
}

.open-sign-up-page:hover{
  text-decoration: underline;
}
