.footer-wrapper {
  border-top: 1px solid var(--color-line);
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
}

.footer-action p {
  font-size: var(--fs-regular);
  line-height: 27px;
  color: var(--color-primary);
  margin-top: 48px;
}

.footer-action span {
  color: var(--color-black);
  font-weight: var(--fw-normal);
}

.footer-social {
  margin-left: 5px;
}

.footer-social.email {
  display: flex;
  border-bottom: 1px solid var(--color-black);
}

.footer-social.email .input-group {
  padding: 0px;
  margin: 0px;
  margin-bottom: 13px;
}

.footer-social.email .input-email {
  padding: 0px;
  margin: 0px;
}

.btn-arrow {
  background-color: var(--color-white);
}

.footer-social.list {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.footer-social.item {
  margin: 15px;
}
